<div class="main_section">
    <div class="table_wrapper">
        <table class="employees">
            <tr class="table_header">
                <th></th>
                <th>ID</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let employee of employees" [class.selected]="employee === selectedEmployee"
             (click)="onSelect(employee)" class="row">
                <td class="checkbox_class"> <input type="checkbox" class="checkbox_class"> </td>
                <td class="id_class">{{employee.id}}</td>
                <td class="name_class">{{employee.fname}} {{employee.lname}}</td>
                <td class="dob_class">{{employee.dob}}</td>
                <td class="salary_class">{{employee.salary}}</td>
                <td class="email_class">{{employee.email}}</td>
                <td>
                    <button class="deleteBtn">Delete</button>
                    <button class="detailsBtn">Details</button>
                </td>
            </tr>
        </table>
    </div>

    
    <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
</div>


<!-- 
<div class="selected_employee_details" *ngIf="selectedEmployee">  
<h2>{{selectedEmployee.fname | uppercase}} {{selectedEmployee.lname | uppercase}} Details:</h2>
  <div>
    <label for="employee-fname">Employee first name: </label>
    <input id="employee-fname" class="input_first_name" [(ngModel)]="selectedEmployee.fname" placeholder="first name">
    <br>
    <label for="employee-lname">Employee last name: </label>
    <input id="employee-lname" class="input_last_name" [(ngModel)]="selectedEmployee.lname" placeholder="last name">
    <br>
    <label for="employee-lname">Employee Email: </label>
    <input id="employee-lname" class="input_last_name" [(ngModel)]="selectedEmployee.email" placeholder="Email">
  </div>
  <div><span>ID: </span>{{selectedEmployee.id}}</div>
  <div><span>Date of birth: </span>{{selectedEmployee.dob}}</div>
  <div><span>Salary: </span>{{selectedEmployee.salary}}</div>

</div> -->