.first_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.table_wrapper {
  display: flex;
  width: 55em;
  padding: 8px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(72,191,227,1) 50%, rgba(128,255,219,1) 100%);
}

/* all table */
.employees {
  background-color: #2C3844;
  color: #ffffff;
  list-style-type: none;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  }

  table th {
    padding: 5px 0 5px 0;
    cursor: auto;
    background-color: black;
    color: #ffffff;
  }

  tr:nth-child(even) {
    background: #242E38;
    color: #ffffff;
  }

.employees tr {
  cursor: pointer;
  height: 45px;
  }

.row:hover {
  background-color: rgb(255,255,255, 0.05);
  border: 1px solid #ffffff;

  /* left: .1em; */
  }

.employees tr.selected {
  background-color: #01987A;
  color: white;
  }

.employees tr.selected:hover {
  background-color: #01987A;
  color: #000000;
  }

.employees tr.selected:active {
  background-color: #01987A;
  color: #000000;
  }

.employees td {
  text-align: center;
  }

.checkbox_class {
  margin-left: 10px;
  }

.deleteBtn {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #DC3545;
  color: #ffffff;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 5px;
  margin: 0 0.2em;
  }

.detailsBtn {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #17A2B8;
  color: #ffffff;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

.selected_employee_details {
  background-color: cornsilk;    
  padding: 3em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 65%;
  margin: 0 0 30px 0;
  cursor: pointer;
  }

span {
  margin-left: 20px;
  }

  .second_section {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    margin: 0 5em 2em 0;
  }

  label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    }

    input {
    padding: .5rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    display: block;
    }

    .add_new_employee {
      margin: 0 0 0 10px;
    }

    .add-button {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin: 5px 0 0 0;
      background-color: #17A2B8;
      color: #ffffff;
      height: 30px;
      width: 150px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }